body {
	background: none; margin: 0px; padding: 0px; color: rgb(255, 255, 255); overflow: auto; font-family: "Î¢ÈíÑÅºÚ", "sans-serif"; font-size: 12px;
}

#elapseClock{
	margin-left:10px;
}

#elapseClock .digit {
	background: none; color: rgb(255, 255, 255); font-family: "digit"; font-size: 36px; font-weight: bold;
}
