.content {
	width: 100%;
	height: 100%;
}

.nameDiv {
	position: absolute;
	left: 50%;
	top: 30px;
	width: 364px;
	height: 60px;
	margin-left: -182px;
}

.page1_bg {
	background: url("../images/page1_bg.png") 50% 0 no-repeat;
	top: 80px;
	left: 50%;
	width: 650px;
	height: 500px;
	margin-left: -325px;
	position: absolute;
}


.page1_cxx {
	background: url("../images/page1_cxx.png") 50% 0 no-repeat;
	width: 150px;
	height: 60px;
	float: left;
}

.page1_heart {
	background: url("../images/page1_heart.png") 50% 0 no-repeat;
	width: 64px;
	height: 60px;
	float: left;
}

.page1_cc {
	background: url("../images/page1_cc.png") 50% 0 no-repeat;
	width: 150px;
	height: 60px;
	float: right;
}

.calDiv {
	position: absolute;
	left: 50%;
	top: 220px;
	width: 190px;
	height: 140px;
	margin-left: -95px;
	z-index: 100;
}

.page1_t1 {
	background: url("../images/page1_t1.png") 50% 0 no-repeat;
	width: 190px;
	height: 60px;
	float: left;
}

.page1_t2 {
	background: url("../images/page1_t2.png") 50% 0 no-repeat;
	width: 190px;
	height: 50px;
	float: left;
}

.page1_t3 {
	background: url("../images/page1_t3.png") 50% 0 no-repeat;
	width: 190px;
	height: 30px;
	float: left;
}


.page1_left {
	background: url("../images/page1_left.png") 50% 0 no-repeat;
	left: 50%;
	bottom: 20px;
	width: 490px;
	height: 250px;
	margin-left: -600px;
	position: absolute;

}

.page1_right {
	background: url("../images/page1_right.png") 50% 0 no-repeat;
	width: 490px;
	height: 250px;
	right: 50%;
	bottom: 20px;
	position: absolute;
	margin-right: -600px;
}

.page1_yun1 {
	background: url("../images/page1_yun1.png");
	left: 50px;
	top: 40px;
	width: 400px;
	height: 200px;
	text-align: center;
	line-height: 150px;
	font-size: 16px;
	display: none;
	position: fixed;
	z-index: 999;
	opacity: 0.8;
}

.page1_yun2 {
	background: url("../images/page1_yun2.png");
	top: 170px;
	width: 400px;
	height: 200px;
	right: 200px;
	display: none;
	position: fixed;
	z-index: 999;
	opacity: 0.8;
}

.page1_yun3 {
	background: url("../images/page1_yun1.png") 0% 0%/cover;
	left: 50px;
	top: 420px;
	width: 600px;
	height: 300px;
	display: none;
	position: fixed;
	z-index: 999;
	opacity: 0.6;
}


.page2_bg {
	background: url("../images/page2_bg.png") 50% 0 no-repeat;
	left: 50%;
	top: 50%;
	width: 1000px;
	height: 600px;
	margin-left: -500px;
	margin-top: -300px;
	position: absolute;
}

.page3_bg {
	background: url("../images/page3_bg.png") 50% 0 no-repeat;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top: -300px;
	margin-left: -500px;
	position: absolute;
}

.page4_bg {
	background: url("../images/page4.png") 50% 0 no-repeat;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top: -300px;
	margin-left: -500px;
	position: absolute;
}

.page5_bg {
	background: url("../images/page5_bg.png") 50% 0 no-repeat;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top: -300px;
	margin-left: -500px;
	position: absolute;
}

.page6_bg {
	background: url("../images/page6_bg.png") 50% 0 no-repeat;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top: -300px;
	margin-left: -500px;
	position: absolute;
}

.page7_bg {
	background: url("../images/page7_bg.png") 50% 0 no-repeat;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top: -300px;
	margin-left: -500px;
	position: absolute;
}

.page8_bg {
	background: url("../images/page8_bg.png") 50% 0 no-repeat;
	top: 50%;
	left: 50%;
	width: 1024px;
	height: 650px;
	margin-left: -512px;
	margin-top: -325px;
	position: absolute;
}

#gaobai {
	margin:0 auto;
	width: 1024px;
	height: 650px;
	margin-left: 20px;	
}

.page9_bg {
	background: url("../images/page9_bg.png") 50% 0 no-repeat;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 600px;
	margin-top: -300px;
	margin-left: -500px;
	position: absolute;
}

#comment {
	margin:100px auto;
	width: 800px;
	height: 500px;
}

.digit {
	font-size: 40px;
}

#elapseClock {
	left: 114px;
	width: 600px;
	height: 50px;
	bottom: 103px;
	position: absolute;
}


.line {
	background: rgb(255, 255, 255);
	width: 100%;
	height: 10px;
	bottom: 50px;
	position: absolute;
	opacity: 0.8;
}

.bg_music {
	left: 50%;
	bottom: 2px;
	margin-left: -80px;
	position: fixed;
	z-index: 2147483647;
}

#back {
	background: rgb(255, 255, 255);
	width: 60px;
	height: 60px;
	text-align: center;
	right: 60px;
	bottom: 20px;
	color: rgb(229, 166, 133);
	line-height: 60px;
	font-size: 14px;
	display: none;
	position: fixed;
	z-index: 999;
	cursor: pointer;
	_position: absolute;
	_right: 50px;
}

#to_index {
	border-radius: 30px;
	border: 2px solid rgb(255, 255, 255);
	border-image: none;
	top: 30px;
	width: 60px;
	height: 60px;
	right: 60px;
	position: fixed;
	z-index: 999;
	cursor: pointer;
	background-image: url("../images/toindex.jpg");
	_position: absolute;
	_right: 50px;
}

#to_index:hover {
	border-radius: 30px;
	border: 2px solid rgb(255, 255, 255);
	border-image: none;
	top: 30px;
	width: 60px;
	height: 60px;
	right: 60px;
	position: fixed;
	z-index: 999;
	cursor: pointer;
	background-image: url("../images/toindex_hover.jpg");
	_position: absolute;
	_right: 50px;
}